/* line 1, ../sass/_menu.scss */
.section-navbar .navbar.pl-color-base {
  font-weight: bold;
}
/* line 3, ../sass/_menu.scss */
.section-navbar .navbar.pl-color-base a {
  text-transform: uppercase;
}

/* line 1, ../sass/_search.scss */
.main-search form.searchform {
  display: block;
  width: 300px;
  margin: auto;
}

/* line 2, ../sass/_search.scss */
.main-search .searchform .searchfield {
  border-radius: 20px;
}

/* line 4, ../sass/_search.scss */
.yith-ajaxsearchform-container {
  text-align: center;
  margin-bottom: 0;
}
/* line 8, ../sass/_search.scss */
.yith-ajaxsearchform-container input[type="search"]#yith-s {
  height: 30px;
  width: 86%;
  border: 1px solid #B9B9B9;
  margin-bottom: 0;
}
/* line 9, ../sass/_search.scss */
.yith-ajaxsearchform-container input[type="submit"]#yith-searchsubmit {
  height: 28px;
  width: 10%;
  border: 1px solid #B9B9B9;
  color: #b9b9b9;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
  background: none;
}
/* line 19, ../sass/_search.scss */
.yith-ajaxsearchform-container .autocomplete-suggestions {
  text-align: center;
  margin: -20px auto 0 auto;
}

/* line 22, ../sass/_search.scss */
.modal-body {
  text-align: center;
  margin: auto;
  width: 600px;
  background: transparent;
  padding: 0;
}
/* line 26, ../sass/_search.scss */
.modal-body form {
  padding: 0;
}
/* line 27, ../sass/_search.scss */
.modal-body form > div {
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/_search.scss */
.modal-body .yith-ajaxsearchform-container input[type="search"]#yith-s {
  width: 60%;
  margin: 20px 0 0 0;
}
/* line 32, ../sass/_search.scss */
.modal-body .yith-ajaxsearchform-container input[type="submit"]#yith-searchsubmit {
  width: 10%;
  margin: 20px 40px 0 0;
}
/* line 33, ../sass/_search.scss */
.modal-body .yith-ajaxsearchform-container .autocomplete-suggestions {
  text-align: center;
  margin: -20px auto 0 auto;
}

/* line 37, ../sass/_search.scss */
.widget_product_search input.searchfield {
  width: 400px;
}

/* line 39, ../sass/_search.scss */
.modal, .modal-body {
  background: transparent;
  box-shadow: 0;
  border: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
}

/* line 45, ../sass/_search.scss */
.modal {
  top: 30%;
  background-color: transparent;
  border: 0;
}

/* line 51, ../sass/_search.scss */
li#yith_woocommerce_ajax_search-2.widget {
  margin-bottom: 0;
}

/* line 52, ../sass/_search.scss */
li#yith_woocommerce_ajax_search-2.widget_product_search {
  height: 45px;
}

/* line 1, ../sass/_woocommerce.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  border: 0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa));
  background: -webkit-linear-gradient(#fafafa, #fafafa);
  background: -moz-linear-gradient(center top, #fafafa 0%, #fafafa 100%);
  background: -moz-gradient(center top, #fafafa 0%, #fafafa 100%);
  z-index: 0;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), inset 0 0px 0 rgba(0, 0, 0, 0);
  margin: 0 -5px;
  padding: 0 1em;
}

/* line 18, ../sass/_woocommerce.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
  border: 0;
}

/* line 22, ../sass/_woocommerce.scss */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
  background: #fafafa;
  z-index: 0;
  border-bottom-color: #fafafa;
}

/* line 28, ../sass/_woocommerce.scss */
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
  background: #c3325f;
  color: #ffffff;
  text-shadow: 0;
}

/* line 34, ../sass/_woocommerce.scss */
.woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover {
  background: #c3325f;
  color: #ffffff;
  text-shadow: 0;
}

/* line 40, ../sass/_woocommerce.scss */
.woocommerce span.onsale, .woocommerce-page span.onsale {
  top: -95px;
  z-index: 1000;
  background: #c3325f;
}

/* line 46, ../sass/_woocommerce.scss */
.woocommerce .related ul li.product img, .woocommerce .related ul.products li.product img, .woocommerce-page .related ul li.product img, .woocommerce-page .related ul.products li.product img {
  max-width: 226px;
  max-height: 226px;
}

/* line 51, ../sass/_woocommerce.scss */
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating {
  text-align: right;
  float: right;
}

/* line 53, ../sass/_woocommerce.scss */
.woocommerce-review-link {
  clear: right;
  display: block;
}

/* line 1, ../sass/_sidebar.scss */
li.widget_product_categories {
  width: 100%;
  margin: 0 auto;
  /* Sub-Menu */
  /* Accordian Function */
}
/* line 2, ../sass/_sidebar.scss */
li.widget_product_categories h2.widgettitle {
  font-weight: bold;
}
/* line 10, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories,
li.widget_product_categories .product-categories ul,
li.widget_product_categories .product-categories li,
li.widget_product_categories .product-categories a,
li.widget_product_categories .product-categories span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
/* line 16, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories li {
  list-style: none;
  min-width: 100%;
  border-top: 1px solid #A2A2A2;
  text-transform: uppercase;
  padding: 10px 0px;
}
/* line 18, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories li > a {
  position: relative;
  color: black;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
}
/* line 25, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories li span {
  float: right;
}
/* line 29, ../sass/_sidebar.scss */
li.widget_product_categories li.cat-parent:hover a, li.widget_product_categories li.cat-parent:target a {
  color: black;
}
/* line 35, ../sass/_sidebar.scss */
li.widget_product_categories .children li a {
  padding-left: 15px;
  font-weight: normal;
}
/* line 40, ../sass/_sidebar.scss */
li.widget_product_categories .children li:hover {
  background: #A2A2A2;
}
/* line 41, ../sass/_sidebar.scss */
li.widget_product_categories .children li:hover a {
  color: white;
}
/* line 45, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories li > .children {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  -ms-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}
/* line 56, ../sass/_sidebar.scss */
li.widget_product_categories .product-categories li:hover > .children {
  height: 100%;
}

/* line 1, ../sass/_buddypress.scss */
#buddypress {
  background: ffffff;
  position: relative;
  z-index: 2;
}
/* line 5, ../sass/_buddypress.scss */
#buddypress #item-header {
  text-align: center;
}
/* line 7, ../sass/_buddypress.scss */
#buddypress h2.user-nicename {
  font-size: 25px;
  text-align: center;
}
/* line 10, ../sass/_buddypress.scss */
#buddypress .woocommerce-tabs ul.tabs {
  border-bottom: 1px solid #FAFAFA;
}
/* line 14, ../sass/_buddypress.scss */
#buddypress div.item-list-tabs ul li {
  float: none;
}
/* line 18, ../sass/_buddypress.scss */
#buddypress #item-nav ul {
  overflow: hidden;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
/* line 26, ../sass/_buddypress.scss */
#buddypress a {
  color: grey;
}
/* line 29, ../sass/_buddypress.scss */
#buddypress #item-nav li {
  border-top: 1px solid grey;
  margin-right: 10px;
}
/* line 30, ../sass/_buddypress.scss */
#buddypress #item-nav li:last-Child {
  border-bottom: 1px solid grey;
}
/* line 32, ../sass/_buddypress.scss */
#buddypress div.item-list-tabs#subnav {
  margin: 0px 0 10px;
  overflow: hidden;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
/* line 35, ../sass/_buddypress.scss */
#buddypress div.item-list-tabs#subnav li {
  float: left;
}
/* line 40, ../sass/_buddypress.scss */
#buddypress #item-body {
  float: left;
  display: inline;
  width: 100%;
}
/* line 41, ../sass/_buddypress.scss */
#buddypress #activity-filter-select {
  display: none;
}
/* line 42, ../sass/_buddypress.scss */
#buddypress .submit {
  background: none;
  border: 0;
}
/* line 43, ../sass/_buddypress.scss */
#buddypress #item-header-avatar img {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
/* line 49, ../sass/_buddypress.scss */
#buddypress #signup_form .submit:active, #buddypress #account-delete-form .submit:active, #buddypress #profile-edit-form .submit:active {
  border: 0;
  box-shadow: none;
}
/* line 54, ../sass/_buddypress.scss */
#buddypress #notifications-sort-order {
  display: none;
}
/* line 55, ../sass/_buddypress.scss */
#buddypress #members-order-select {
  display: none;
}
/* line 57, ../sass/_buddypress.scss */
#buddypress #whats-new-form #whats-new-options {
  height: 50px  !important;
}

/* line 9, ../sass/listo-styles.scss */
h1, h2, h3, h4, h5, h6, body {
  font-family: Montserrat;
}

/* line 10, ../sass/listo-styles.scss */
a {
  color: grey;
}
